.container {
  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    .card {
      border: 0.1px solid black;
      width: 250px;
      height: 170px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: 0.5s;
      h3 {
        color: gray;
      }
      p {
        color: #fff;
      }
      &:hover {
        background-color: gray;
        h3 {
          color: #fff;
        }
      }
    }
  }
}
