.container {
  padding-block: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      max-width: 200px;
    }
    nav {
      display: flex;
      gap: 20px;
      a {
        color: black;
      }
      .btn {
        background: none;
      }
    }
  }
}
