.container {
  .mainContainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .collection {
      border: 1px solid black;
      border-radius: 20px;
      img {
        width: 200px;
      }
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-bottom: 50px;
      }
      .catch {
        background-color: orange;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 50px;
        }
        button {
            background: none;
        }
      }
    }
  }
}
